<persistence xmlns="http://java.sun.com/xml/ns/persistence"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
     http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
    version="2.0">

 <persistence-unit name="NAME SET ON THE ENTITY MANAGER FACTORY">
 	<class>FQN OF ALL CLASSES REGISTERED AS ENTITIES</class>
	<properties>
		<property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
		<property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost/DATABASENAME" />
		<property name="javax.persistence.jdbc.user" value="DB LOGIN" />
		<property name="javax.persistence.jdbc.password" value="PASSWORD" />
		<!--  Hibernate -->
		<property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5InnoDBDialect" />
		<property name="hibernate.show_sql" value="true" />
		<property name="hibernate.format_sql" value="true" />
		<!--  database method -->
		<property name="hibernate.hbm2ddl.auto" value="update" /> <!-- update/create/create-drop/validate -->
	</properties>
 </persistence-unit>
</persistence>
